<%= form_for(picture) do |f| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file_path %>
    <%= f.file_field :file_path, required: true %>
  </div>

  <div class="field field-radio">
    Filters<br>
    <label>
      Cool
      <input type="radio" name="filter" value="10, 10, 0">
    </label>
    <label>
      Warm
      <input type="radio" name="filter" value="0, 10, 10">
    </label>
    <label>
      Bright
      <input type="radio" name="filter" value="0, 0, 0">
    </label>
  </div>

  <div class="field">
    <%= f.label :caption %>
    <%= f.text_field :caption %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
