<% @pictures.each do |picture| %>
<article>
  <header>
    <strong><%= picture.user.display_name %></strong>
    <%= picture.created_at %>
  </header>

  <figure>
    <%= image_tag(picture.file_path) %>
    <% unless picture.caption.empty? %>
      <figcaption><%= picture.caption %></figcaption>
    <% end %>
  </figure>

  <div class="figure-controls">
    <%= link_to 'Show', picture %>
    <%= link_to 'Edit', edit_picture_path(picture) %>
    <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

</article>
<% end %>
