<p id="notice"><%= notice %></p>

<% @pictures.each do |picture| %>
  <figure>
    <%= image_tag(picture.file_path) %>
    <figcaption><%= picture.caption %></figcaption>
    <td><%= link_to 'Show', picture %></td>
    <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
    <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </figure>
<% end %>
