<% @pictures.each do |picture| %>
<article class="picture">
  <header class="picture-header">
    <strong><%= picture.user.display_name %></strong>
    <%= picture.created_at %>
  </header>

  <figure class="picture-container">
    <%= image_tag(picture.file_path) %>
    <% unless picture.caption.empty? %>
    <figcaption class="picture-caption">
      <%= picture.caption %>
    </figcaption>
    <% end %>
  </figure>

  <div class="picture-controls">
    <% if picture.comments.length > 0 %>
    <%= link_to "Comments (#{picture.comments.length})", picture %>
    <% else %>
    <%= link_to 'Show', picture %>
    <% end %>
    <% if author?(picture) %>
    <%= link_to 'Edit', edit_picture_path(picture) %>
    <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>

</article>
<% end %>
