<article class="picture">
  <header class="picture-header">
    <strong><%= @picture.user.display_name %></strong>
    <%= @picture.created_at %>
  </header>

  <figure class="picture-container">
    <%= image_tag(@picture.file_path) %>
    <% unless @picture.caption.empty? %>
    <figcaption class="picture-caption">
      <%= @picture.caption %>
    </figcaption>
    <% end %>
  </figure>

  <div class="picture-controls">
    <%= link_to 'Show', @picture %>
    <%= link_to 'Edit', edit_picture_path(@picture) %>
    <%= link_to 'Destroy', @picture, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

  <div class="picture-comments">
    <h3>Comments</h3>
    <% @picture.comments.each do |comment| %>
    <div>
      <strong><%= comment.text %></strong>
      <%= comment.user.display_name %>
      <%= link_to 'Edit', edit_polymorphic_path([@picture, comment]) %>
      <%= link_to 'Destroy', polymorphic_path([@picture, comment]), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>

    <%= form_for [@picture, @comment], class: 'comments' do |f| %>
      <%= f.text_field :text, class: 'comments-input' %>
      <%= f.submit 'Add Comment' %>
    <% end %>
  </div>

</article>

<%= link_to 'Back', pictures_path %>
