<article class="picture">
  <header class="picture-header">
    <strong><%= link_to @picture.user.display_name, "/users/#{@picture.user_id}" %></strong>
    <%= formatDate(@picture.created_at) %>
  </header>

  <figure class="picture-container">
    <%= image_tag(@picture.file_path) %>
    <% unless @picture.caption.empty? %>
    <figcaption class="picture-caption">
      <%= @picture.caption %>
    </figcaption>
    <% end %>
  </figure>

  <% if @picture.likes.length > 0 %>
  <div class="picture-likes">
    <strong><%= @picture.likes.map { |like| like.user.display_name }.to_sentence %></strong>
    <%= @picture.likes.length > 1 ? 'like' : 'likes' %> this
  </div>
  <% end %>

  <% if current_user %>
  <div class="picture-controls">
    <% if find_like(@picture, current_user) %>
    <%= link_to 'Unlike', polymorphic_path([@picture, find_like(@picture, current_user)]), method: :delete %>
    <% else %>
    <%= link_to 'Like', picture_likes_path(@picture), method: 'post' %>
    <% end %>

    <% if author?(@picture) %>
    <%= link_to 'Edit', edit_picture_path(@picture) %>
    <%= link_to 'Delete', @picture, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
  <% end %>

  <div class="picture-comments">
    <h3>Comments</h3>
    <% @picture.comments.each do |comment| %>
    <div class="comment-container">
      <strong><%= link_to comment.user.display_name, "/users/#{comment.user_id}" %></strong>
      <%= comment.text %>
      <% if author?(comment) %>
      <span class="comment-controls"><%= link_to 'Edit', edit_polymorphic_path([@picture, comment]) %>
      <%= link_to 'Delete', polymorphic_path([@picture, comment]), method: :delete, data: { confirm: 'Are you sure?' } %></span>
      <% end %>
    </div>
    <% end %>

    <% if current_user %>
    <%= form_for [@picture, @comment], class: 'comments' do |f| %>
      <%= f.text_field :text, class: 'comments-input' %>
      <%= f.submit 'Add Comment' %>
    <% end %>
    <% end %>

  </div>

</article>

<%= link_to 'Back', pictures_path %>
